@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.buttonCta {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    background: url('/texture-blue-2.jpg') repeat; /* Substitua com o caminho da sua imagem de textura */
    border-radius: 30px;
    padding: 1em 2em;
    margin: 0;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border: 1px solid #FAFAFA;
    color: #FAFAFA;
    cursor: pointer;
    transition: background 0.5s, color 1s, box-shadow 0.3s, border 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buttonCta:hover {
    background: url('/gold-texture.jpg') repeat; /* Substitua com o caminho da sua imagem de textura */
    color: #FAFAFA;
    border: 1px solid #FAFAFA;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.buttonCta:active {
    box-shadow: none;
}