@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@500&display=swap');

.buttonCta {
    font-family: 'Roboto', sans-serif;
    background-color: #4A90E2;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #FAFAFA;
    color: #FAFAFA;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buttonCta:hover {
    background-color: #325A82;
    color: #FAFAFA;
    border: 1px solid #FAFAFA;
}

.buttonCta:active {
    color: #F5F2E8;
    background-color: #325A82;
    border: 1px solid #F5F2E8;
}

