/* Header.module.css */
.header {
    background: url("/background-image.jpg") center center/cover no-repeat;
    color: #FAFAFA;
    padding: 6em;
  }
  
  .contentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .leftContent {
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 100%;
  }
  
  .rightContent {
    text-align: start;
    display: flex;
    flex-direction: row;
  }
  
  .logo {
    height: 100%;
    width: auto;
  }
  
  .title {
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: transparent;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: -0.4em;
    text-align: start;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #dfd493, #f7df6f,#fdf3b5, #f8de69, #dcad37,  #ebc548, #f7df6f ,#ddae3a, #ebbf41);

  }
  
  .subTitle {
    font-size: 1.7em; /* Tamanho do subtitulo */
    color: #FAFAFA;
    font-family: 'Open Sans', sans-serif; /* Fonte do subtitulo */
    font-weight: 400; /* Peso da fonte (400 é o padrão, você pode ajustar conforme necessário) */
  }
  
  .iconContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  
  .icon {
    font-size: 2em;
    color: #4A90E2;
    margin: 0 0.5em;
  }
  
  .buttonCta {
    display: flex;
    justify-content: center;
    padding: 1em;
    
  }
/* Exemplo de um gradiente vertical de azul para verde */
.gradiente {
  background-image: linear-gradient(to bottom, #3498db, #2ecc71);
  /* Adicione outras propriedades de estilo conforme necessário */
  color: #fff; /* Cor do texto para garantir legibilidade */
  padding: 20px; /* Espaçamento interno para melhorar a aparência */
}


  @media screen and (max-width: 750px) {   
    .contentWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title{
      font-size: 2.3em;
    }
  }